.info {
    display: flex; 
   
    padding: 20px 50px;
}

#header {
    font-weight: bold;
    margin-top:50px;

}

.names {
    width: 50%;
}

.roles {
    width: 20%;
}

.info button {
    width: 10%;
}